body{
    background-color: rgb(132, 255, 138);
}

.lead{
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
}

.form-control{
    margin-bottom: 15px;
}

.form-control-sm{
    border-radius: 0;
}

.login{
    text-align: center;
    margin-bottom: 35px;
    font-weight: 700;
    /* margin-top: 25%;
    padding: 50px; */
}

.join{
    width: 30%;
    background-color: rgb(228, 228, 228);
    margin-top: 10%;
    padding: 20px;
    border-bottom: 2px solid rgb(143, 143, 143);
}

.btn{
    margin-top: 20px;
    border-radius: 0;
}

